<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Robby Callicotte's Links</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imagens/favicon.png" type="image/x-icon" />
</head>

<body>
    <div id="profile">
        <img id="userPhoto" src="assets/images/robert-callicotte.jpg" alt="Profile picture of Robby Callicotte">
        <div id="userName">
            <h1>Robby Callicotte</h1>
            <p>Linux Enthusiast</p>
        </div>
    </div>
    <div id="links">
        <a class="link" href="https://fosstodon.org/@robbycl2v" target="_blank"><i class="fa fa-mastodon"></i> Mastodon</a>
        <a class="link" href="https://www.facebook.com/rcallicotte" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
        <a class="link" href="https://github.com/c4t3l" target="_blank"><i class="fa fa-github"></i> Github</a>
        <a class="link" href="https://www.linkedin.com/in/robertcallicotte/" target="_blank"><i class="fa fa-linkedin"
                aria-hidden="true"></i> LinkedIn</a>
        <a class="link" href="https://blog.robbyc.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i>
            Blog</a>
        <a class="link" href="mailto:rcallicotte@fedoraproject.org" target="_blank"><i class="fa fa-envelope"
                aria-hidden="true"></i>
            E-mail</a>
    </div>

</body>

</html>
